form.navbar-form.pull-right
    input.span2(type="text", placeholder="Email")
    | 
    input.span2(type="password", placeholder="Password")
    | 
    button.btn(type="submit", name="login") Sign in
    | 
    button.btn(type="submit", name="register") Register    