form.navbar-form.pull-right(method="POST", action="login")
    input.span2(type="text", placeholder="Email", name="username")
    | 
    input.span2(type="password", placeholder="Password", name="password")
    | 
    button.btn(type="submit", name="login") Sign in
    | 
    if typeof(message) !== "undefined"
        #{message}
//    button.btn(type="submit", name="register") Register    